section.home .daily-master-wrp,
section.home .daily-detail-wrp {
  background-image: url(../img/daily-box-bg.jpg);
  position: absolute;
  transition: bottom 0.4s ease-out, opacity 0.4s ease-out;
  bottom: 0px;
  right: 0px;
  color: #444;
  width: 100%;
  height: 100%;
  opacity: 1;
}
section.home .daily-master-wrp.disabled,
section.home .daily-detail-wrp.disabled {
  opacity: 0.7;
  bottom: -600px;
}
section.home .daily-master-wrp {
  overflow: hidden;
}
section.home .daily-detail-wrp img {
  width: auto;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
section.home .daily-detail-wrp .right {
  position: relative;
  background-position: center center;
  width: 350px;
  height: 300px;
  display: inline-block;
  float: right;
  border-radius: 0 35px 0 0;
}
section.home .daily-detail-wrp .left {
  height: 310px;
  width: calc(100% - 350px);
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  float: right;
  padding: 40px;
  border-radius: 0 0 0 35px;
}
section.home .daily-detail-wrp .left a.close {
  position: absolute;
  top: 14px;
  left: 14px;
  width: 13px;
  height: 13px;
  background-image: url(../img/x.svg);
  cursor: pointer;
  filter: drop-shadow(0px 3px 10px #000);
}
section.home .daily-detail-wrp .left h2.title {
  font-size: 55px;
  line-height: 45px;
  margin-top: -6px;
  font-weight: bold;
  letter-spacing: -2px;
  padding-bottom: 12px;
}
section.home .daily-detail-wrp .left hr#shadow-border {
  border-color: #02e1e0;
  background-color: #02e1e0;
  height: 5px;
  filter: drop-shadow(0px 3px 10px #000);
}
section.home .daily-detail-wrp .left p.data {
  padding-top: 16px;
  font-size: 27px;
  font-weight: 400;
  line-height: 24px;
}
section.home .daily-detail-wrp .left a.mobile-link {
  display: none;
}
section.home .daily-detail-wrp .item_plan {
  overflow: hidden;
}
section.home .daily-detail-wrp .item_plan a.link-outside-page {
  overflow: hidden;
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}
section.home .daily-detail-wrp .item_plan a.link-outside-page span.msg {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 22px;
  line-height: 33px;
  font-weight: bold;
  color: #fff;
  background-color: #02e1e0;
  width: 100%;
}
section.home ul {
  list-style: none;
}
section.home ul .airtime,
section.home ul .shows {
  display: inline-block;
  width: 50%;
  float: right;
}
section.home ul.daily-items {
  overflow: hidden;
}
section.home ul.daily-items > li.daily-item {
  overflow: hidden;
  height: 300px;
  transition-timing-function: ease-in;
  animation-duration: 0.3s;
}
@keyframes right-to-center {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes left-to-center {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes center-to-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes center-to-right {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes example5 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
section.home ul.daily-items > li.daily-item.offset-right.from-offset-right {
  animation-name: center-to-left;
}
section.home ul.daily-items > li.daily-item.offset-left.from-offset-left {
  animation-name: center-to-right;
}
section.home ul.daily-items > li.daily-item.offset-center,
section.home ul.daily-items > li.daily-item.offset-right,
section.home ul.daily-items > li.daily-item.offset-left {
  position: absolute;
  width: 100%;
}
section.home ul.daily-items > li.daily-item.offset-center {
  transform: translateX(0%);
}
section.home ul.daily-items > li.daily-item.offset-right {
  transform: translateX(100%);
}
section.home ul.daily-items > li.daily-item.offset-left {
  transform: translateX(-100%);
}
section.home ul.daily-items > li.daily-item.offset-center.from-offset-left {
  animation-name: right-to-center;
}
section.home ul.daily-items > li.daily-item.offset-center.from-offset-right {
  animation-name: left-to-center;
}
section.home ul.daily-items > li.daily-item ul.airtime li.date-txt {
  display: block;
  font-size: 93px;
  margin-top: -11px;
  letter-spacing: -3px;
  color: #02e1e0;
  background: #fff;
  text-align: center;
  line-height: 70px;
  height: 75px;
  border-radius: 0 20px 0 20px;
  position: relative;
}
section.home ul.daily-items > li.daily-item ul.airtime li.date-txt:after {
  content: '';
  box-sizing: content-box;
  position: absolute;
  right: 0;
  bottom: -15px;
  border-radius: 0;
  z-index: 5;
  width: 0;
  height: 0;
  border-top: 15px solid #fff;
  border-left: 22px solid transparent;
}
section.home ul.daily-items > li.daily-item ul.airtime li.date-num {
  display: block;
  font-size: 93px;
  margin-top: 20px;
  font-weight: 700;
  line-height: 75px;
}
section.home ul.daily-items > li.daily-item ul.shows li div.hour {
  display: inline-block;
  width: 122px;
  height: 44px;
  line-height: 44px;
  font-size: 50px;
  text-align: center;
  vertical-align: top;
  border-radius: 0 10px 0 10px;
  position: relative;
}
section.home ul.daily-items > li.daily-item ul.shows li div.show-name {
  font-weight: normal;
  font-size: 51px;
  display: inline-block;
  line-height: 44px;
  padding-right: 12px;
}
